<div class="containersMenu">
    <div class="menu">
        <a href="inicio">
            <span class="material-symbols-outlined">
                diamond
            </span>
        </a>
        <div class="rotasMenu">
            <div class="itensMenu">
                <a href="inicio">INICIO</a>
            </div>
            <div class="itensMenu">
                <a href="funcionarios">FUNCIONÁRIOS</a>
            </div>
            <div class="itensMenu">
                <a href="gestao">GESTÃO</a>
            </div>
            <div class="itensMenu">
                <a href="sobre">SOBRE</a>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>