* {
    margin: 0.5%;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: all 1s;
    font-size: 80%;
}

.itensMenu {
    display: flex;
    height: 30px;
    margin-right: 10px;
}

.itensMenu:hover {
    background-color: #cdcdcd;
    transition: all 0.5s;
    margin: 0;
    margin-right: 10px;
    height: 55px;
}

/*Tamanho da Logo*/
.material-symbols-outlined {
    font-size: 35px;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.rotasMenu {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 600px) {
    * {
        background-color: white;
    }
}