.echart-pie {
    width: 50%;
    height: 300px;
}

.echart-bar {
    width: 50%;
    height: 300px;
}

.echart-line {
    border: solid 1px #cdcdcd;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 10px;
    height: 300px;
}

.graficos-sub {
    border: solid 1px #cdcdcd;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}

// Resolução Celular
@media (max-width: 600px) {
    .graficos {
        display: flex;
        flex-direction: column;
    }

    .graficos-sub {
        display: flex;
        flex-direction: column;
    }

    .echart-pie {
        width: 100%;
        height: 200px;
    }

    .echart-bar {
        width: 100%;
        height: 300px;
    }
}