<div class="containersBtn">
    <button class="btn" [disabled]="!btnCriar"
        (click)="criarCadastroBoleana = true; cardsBoleana = false;">Criar</button>
    <button class="btn" routerLink="/">Voltar</button>
</div>
<div *ngIf="cardsBoleana" class="containers" id="cards">
    <div *ngFor="let funcionario of funcionarios" id="card" class="card">
        <div>
            <span class="material-symbols-outlined">
                person
            </span>
            <label> {{funcionario.id}} </label>
        </div>
        <div class="infoCards">
            <div class="camposLabel">
                <label>NOME: </label>
                <label>NOME MÃE: </label>
            </div>
            <div class="camposDados">
                <label> {{funcionario.nomeCompleto}} </label>
                <label> {{funcionario.nomeMae}} </label>
            </div>
        </div>
        <button class="btn" (click)="editaFuncionario(funcionario)">Editar</button>
        <button class="btn" (click)="delFuncionario(funcionario.id)">Deletar</button>
    </div>
</div>
<div *ngIf="criarCadastroBoleana" class="cadastro">
    <h1>Cadastro</h1>
    <div class="formularios">
        <form [formGroup]="funcionarioForm" class="formulario">
            <div class="campos">
                <label class="campo">Nome Completo</label>
                <label class="campo">Nome da Mãe</label>
            </div>
            <div class="camposInput">
                <input class="campo" type="text" formControlName="nomeCompleto" placeholder="Insira o Nome Completo">
                <input class="campo" type="text" formControlName="nomeMae" placeholder="Insira o Nome da Mãe">
            </div>
        </form>
    </div>
    <div>
        <button class="btns" (click)="addFuncionario(this.funcionarioForm.value)"
            [disabled]="!funcionarioForm.valid">Enviar</button>
        <button class="btns" (click)="cardsBoleana = true; criarCadastroBoleana = false">Fechar</button>
    </div>
</div>

<div *ngIf="editarCadastroBoleana" class="cadastro">
    <h1>Editar Cadastro</h1>
    <div class="formularios">
        <form [formGroup]="funcionarioForm" class="formulario">
            <div class="campos">
                <label class="campo">Nome Completo</label>
                <label class="campo">Nome da Mãe</label>
            </div>
            <div class="camposInput">
                <input class="campo" type="text" formControlName="nomeCompleto" placeholder="Insira o Nome Completo">
                <input class="campo" type="text" formControlName="nomeMae" placeholder="Insira o Nome da Mãe">
            </div>
        </form>
    </div>
    <div>
        <button class="btns" (click)="btnSalvar(this.funcionarioForm.value);"
            [disabled]="!funcionarioForm.valid && !btnCriar">Salvar</button>
        <button class="btns"
            (click)="editarCadastroBoleana = false; cardsBoleana = true; carregaFuncionarios()">Fechar</button>
    </div>
</div>